body {
    font-family: 'Poppins', sans-serif;
    color: #292929;
    line-height: 28px;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 36px;
}
.primary-color{
    color: tomato;
}

.flexible 
{
    display: flex;
}
section {
    padding: 60px 5%;
}
.hero {
    background: url(images/top-banner.png) no-repeat;
}
.w-60 {
    width: 60%;
    padding-left: 2%;
    padding-right: 2%;
}
.w-40 {
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
}
.w-50 {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
.img-100 {
    width: 100%;
}
.btn {
    background-image: linear-gradient(to right, tomato, #f77e1c);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin-top: 35px;
    display: inline-block;
}
.rightColumn {
    margin-left: 10Px;
    margin-right: 0px;
}
.leftColumn {
    margin-left: 0Px;
    margin-right: 10px;
}
.experienceColumn {
    padding: 0px;
}
.dreambig {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.rightColumn {
    padding: 40px 15px 35px 25px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    box-shadow: 3px 1px 9px 5px rgba(0,0,0,0.22);
                -webkit-box-shadow: 3px 1px 9px 5px rgba(0,0,0,0.22);
                -moz-box-shadow: 3px 1px 9px 5px rgba(0,0,0,0.22);
}
.leftColumn {
    padding: 40px 15px 35px 25px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, tomato, rgb(204, 248, 8));
    border-image-slice: 1;
    box-shadow: 3px 1px 9px 5px rgba(0,0,0,0.22);
                -webkit-box-shadow: 3px 1px 9px 5px rgba(0,0,0,0.22);
                -moz-box-shadow: 3px 1px 9px 5px rgba(0,0,0,0.22);
}
footer h3 {
    text-align: center;
}